<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Twitch Webapp
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  <head>
  <body>
    <div class = "jumbotron">
      <div class = "container">
        <h2> Welcome to my Twitch Webapp </h2>
        <hr>
        <h5> To get the people the someone is following please enter a username and the amount of results you want (<= 100)<h5>
        <form action = "/submit/followlist">
          <input type = "text" name = "user" placeholder="Username">
          <input type ="text" name="limit" placeholder="Amount of results">
          <input type = "submit" value="submitfollow" class="btn btn-primary">
        </form>
        <hr>
        <h5> To check is someone is subscribed to a twitch channel please type in the username and channel who you want to check<h5>
        <form action = "/submit/checksubscriber">
          <input type = "text" name = "subuser" placeholder="Username">
          <input type ="text" name="channel" placeholder="Channel">
          <input type = "submit" value="submitsub" class="btn btn-primary">
        </form>
        <hr>
        <h5> To get top games by viewers<h5>
        <form action = "/submit/topgames">
          <input type = "text" name = "my_limit" placeholder="Amount of results">
          <input type = "submit" value="submittop" class="btn btn-primary">
        </form>
      </div>
    </div>
  </body>
</html>
